.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/src/main/java/com/i2r/xue/rate_this_place/visitedplace/RateThisPlaceRatingFromVisitedPlacesActivity.java